Checks: >
  bugprone-integer-overflow,
  bugprone-signed-char-misuse,
  bugprone-use-after-move,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-loop-convert,
  performance-unnecessary-copy-initialization,
  performance-move-const-arg,
  performance-for-range-copy,
  readability-container-size-empty,
  -clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: "src/.*"

CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
